<section class="page-banner">
    <div class="image-layer" style="background-image:url(assets/images/background/banner-image-1.png);"></div>
    <div class="banner-bottom-pattern"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Rooms</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a>Home</a></li>
                        <li class="active">Rooms</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<section class="apartment-section">
    <!-- <div class="pattern-bottom"></div> -->
    <!-- <span class="dotted-pattern dotted-pattern-1"></span> -->
    <!-- <span class="tri-pattern tri-pattern-1"></span> -->
    <div class="auto-container p-0">
        <!--Filters Section-->
        <div class="filters-section rooms">
            <div class="form-box container filter-form wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">


                <div class="row">

                    <!-- === rooms item === -->

                    <div class="col-sm-6 col-md-6">
                        <div class="item">
                            <article>
                                <div class="image">
                                    <img src="assets/images/room-1.png" alt="" />
                                </div>
                                <div class="details">
                                    <div class="text">
                                        <h3 class="title"><a>Rooms 1</a></h3>
                                        <p>Family room</p>
                                    </div>
                                    <div class="book">
                                        <div>
                                            <a class="btn btn-main">Book now</a>
                                        </div>
                                        <div>
                                            <span class="price h3">€ 299,00</span>
                                            <span>per night</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- === rooms item === -->

                    <div class="col-sm-6 col-md-6">
                        <div class="item">
                            <article>
                                <div class="image">
                                    <img src="assets/images/room-2.png" alt="" />
                                </div>
                                <div class="details">
                                    <div class="text">
                                        <h3 class="title"><a>Luxury Rooms</a></h3>
                                        <p>Family room</p>
                                    </div>
                                    <div class="book">
                                        <div>
                                            <a class="btn btn-main">Book now</a>
                                        </div>
                                        <div>
                                            <span class="price h3">€ 199,00</span>
                                            <span>per night</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- === rooms item === -->

                    <div class="col-sm-6 col-md-4">
                        <div class="item">
                            <article>
                                <div class="image">
                                    <img src="assets/images/room-3.png" alt="" />
                                </div>
                                <div class="details">
                                    <div class="text">
                                        <h4 class="title"><a>Jumbo Rooms</a></h4>
                                        <p>Double Bed rooms</p>
                                    </div>
                                    <div class="book">
                                        <div>
                                            <a class="btn btn-main">Book now</a>
                                        </div>
                                        <div>
                                            <span class="price h4">€ 98,00</span>
                                            <span>per night</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- === rooms item === -->

                    <div class="col-sm-6 col-md-4">
                        <div class="item">
                            <article>
                                <div class="image">
                                    <img src="assets/images/room-4.png" alt="" />
                                </div>
                                <div class="details">
                                    <div class="text">
                                        <h4 class="title"><a>Box Rooms</a></h4>
                                        <p>Double bed room</p>
                                    </div>
                                    <div class="book">
                                        <div>
                                            <a class="btn btn-main">Book now</a>
                                        </div>
                                        <div>
                                            <span class="price h4">€ 129,00</span>
                                            <span>per night</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- === rooms item === -->

                    <div class="col-sm-6 col-md-4">
                        <div class="item">
                            <article>
                                <div class="image">
                                    <img src="assets/images/room-5.png" alt="" />
                                </div>
                                <div class="details">
                                    <div class="text">
                                        <h4 class="title"><a>Superior Rooms</a></h4>
                                        <p>Queen size bed</p>
                                    </div>
                                    <div class="book">
                                        <div>
                                            <a class="btn btn-main">Book now</a>
                                        </div>
                                        <div>
                                            <span class="price h4">€ 159,00</span>
                                            <span>per night</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="stretcher-wrapper">

    <!-- === stretcher header === -->

    <div class="section-header">
        <div class="container">
            <h2 class="title">House facilities <a class="btn btn-sm btn-clean-dark">Explore more</a></h2>
            <p>
                With the best luxury spa, salon and fitness experiences
            </p>
        </div>
    </div>

    <!-- === stretcher === -->

    <ul class="stretcher">

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/services-1.jpg);">
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Spa center</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Spa center</h4>
                <figcaption>Unparalleled devotion to luxury</figcaption>
            </figure>
            <!--anchor-->
            <a>Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/services-2.jpg);">
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Gym</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Gym</h4>
                <figcaption>Care about results</figcaption>
            </figure>
            <!--anchor-->
            <a>Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/services-3.jpg);">
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Fitness</span>
                </div>
            </div>
            <figure>
                <h4>Fitness</h4>
                <figcaption>Your daily activities</figcaption>
            </figure>
            <!--anchor-->
            <a>Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/services-4.jpg);">


            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Beauty salon</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Beauty salon</h4>
                <figcaption>Hair salons and spas</figcaption>
            </figure>
            <!--anchor-->
            <a>Anchor link</a>
        </li>

        <!-- === stretcher item more === -->

        <li class="stretcher-item more">
            <div class="more-icon">
                <span data-title-show="Show more" data-title-hide="+"></span>
            </div>
            <a>Anchor link</a>
        </li>

    </ul>
</section>

<section class="cards">

    <!-- === cards header === -->

    <div class="section-header">
        <div class="container">
            <h2 class="title">Near by <a href="#" class="btn btn-sm btn-clean-dark">View all</a></h2>
            <p>Here's a selection of ionic sites related to art, fashion and design.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- === item === -->

            <div class="col-xs-12 col-md-8">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-1.jpg)">
                        <img src="assets/images/activity-1.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean" onclick="">Museums</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-2.jpg)">
                        <img src="assets/images/activity-2.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">Nightlife</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-3.jpg)">
                        <img src="assets/images/activity-3.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">Food & drink</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-4.jpg)">
                        <img src="assets/images/activity-4.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">Shopping</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-5.jpg)">
                        <img src="assets/images/activity-5.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">The City</a>
                </figure>
            </div>

        </div>
        <!--/row-->

    </div>
    <!--/container-->
</section>